/**
 * Media object
 *
 * Used for displaying an image to one side, with descriptive content to the other.
 *
 */

 .media {
   display: table;
   display: flex;
   overflow: hidden;
   margin: 0 0 20px;
 }
 .media__object {
   display: block;
   padding: 0 10px 0 0;
   img {
     max-width: none;
   }
 }
 .media__body {
   display: table-cell;
   flex: 1;
   vertical-align: top;
   width: 10000px;
   overflow: hidden;
 }
